<mat-horizontal-stepper linear #stepper>

    <!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Step 1</ng-template>
            <h2>Inscription</h2>

            <mat-form-field appearance="outline">
                <mat-label>Pseudo</mat-label>
                <input matInput formControlName="pseudo" placeholder="Votre pseudo" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Votre email" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Votre mot de passe" required>
            </mat-form-field>
            <br>
            <div>
                <mat-label>Type de compte: </mat-label>
                <mat-radio-group formControlName="floatLabelControl">
                    <mat-radio-button value="particular">Particulier</mat-radio-button>
                    <mat-radio-button value="professional">Professionnel</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="goForward(stepper)">Suivant</button>
            </div>

        </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <h2>Mon profile</h2>

            <fieldset>
                <legend>Information Générales</legend>
                <mat-form-field appearance="outline" >
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="lastName" placeholder="Votre nom" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="firstName" placeholder="Votre prénom" required>
                </mat-form-field>
                <div>
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
               
            </fieldset>

            <ng-container *ngIf="userType == userTypes.Professional">

            </ng-container>
        </form>

    </mat-step>

    <!-- Step 3 -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

</mat-horizontal-stepper>