mat-horizontal-stepper{
    width: 75%;
    margin: 0 auto;
}

fieldset {
    border-width: 1px;
    border-style: outset;
    padding: 30px;
    margin: 28px 0;
    width: 50%;
}

.mat-form-field {
    width: 220px;
    margin-top: 16px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-radio-button {
    margin: 0 12px;
}

.radio-group{
    margin: 25px 0;
}

.group-buttons {
    margin: 35px 0;
}

.group-buttons button {
    margin-right: 20px;
}

.chip-list{
    width: 100%;
}