body{
  background-color: red !important;

}
.center-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

.outer-div {
 background-color:#f8f8fb;
  // width: 300px;
  padding-left: 35%;
  padding-right: 35%;
  // margin-top: 35%;
  // margin-bottom: 35%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 0px;
 
}

.inner-div {
  // border-style: solid;
  // border-color: black;
  background-image: url("Background.jpg");
  // background-color: red;
  padding: 50px;
  text-align: center;
  
}

.login-button-row {
  padding-top: 10px;
}

.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
 
}
.zoom div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.Logo-Img {
  width: 200px;
  height: 200px;
  // text-align: center;
  background-position: center center;
}

.link {
  padding-top: 10px;
}

.btn-Login {
  width: 100px;
}
